services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: customerdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - ./init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
  
  customer_service:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    